In [1]:
import numpy as np

In [2]:
print("hello")

hello

In [3]:
import pandas as pd

In [4]:
import io
import requests
url="https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv"
s=requests.get(url).content
c=pd.read_csv(io.StringIO(s.decode('utf-8')))

In [5]:
c

       Country         Region
0      Algeria         AFRICA
1       Angola         AFRICA
2        Benin         AFRICA
3     Botswana         AFRICA
4      Burkina         AFRICA
..         ...            ...
189   Paraguay  SOUTH AMERICA
190       Peru  SOUTH AMERICA
191   Suriname  SOUTH AMERICA
192    Uruguay  SOUTH AMERICA
193  Venezuela  SOUTH AMERICA

[194 rows x 2 columns]

In [7]:
c["Country"]

0        Algeria
1         Angola
2          Benin
3       Botswana
4        Burkina
         ...
189     Paraguay
190         Peru
191     Suriname
192      Uruguay
193    Venezuela
Name: Country, Length: 194, dtype: object